:root {
    --main-font: "Montserrat", sans-serif;
    --second-font: "Inter", sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.txt-deco {
    text-decoration: none;
}

.container {
    width: 100%;
}

@media screen and (min-width: 425px) {
    .container {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.hero-section {
    background-image: linear-gradient(to top right,
        rgba(255, 91, 62, 1),
        rgba(13, 122, 248, 1));
    
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (min-width: 1024px) {
            padding-top: 90px;
            padding-bottom: 90px;
        }

    @media screen and (min-width: 1440px) {
            padding-top: 120px;
            padding-bottom: 120px;
        }
}

.hero-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1024px) {
            font-size: 34px;
            margin-bottom: 50px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 46px;
            padding-left: 70px;
            padding-right: 70px;
        }
}

.hero-img-box {
    margin-bottom: 50px;

    @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
            width: calc(100% / 2);
        }

    @media screen and (min-width: 1440px) {
            margin-bottom: 50px;
        }
}

.hero-text {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1024px) {
            font-size: 30px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 40px;
            padding-left: 70px;
            padding-right: 70px;
            margin-bottom: 120px;
        }
}

.hero-text-index {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
}

.hero-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
            justify-content: flex-start;
        }

    @media screen and (min-width: 1440px) {
            padding-left: 70px;
            padding-right: 70px;
            margin-bottom: 120px;
    }
}

.hero-btn-manual {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17.09px;
    color: black;
    width: 120px;
    height: 50px;
    border: 0.45px solid #D22827;
    background-color: #fff;
    border-radius: 21.24px;

    @media screen and (min-width: 1440px) {
        width: 191px;
        height: 66px;
        font-size: 22px;
    }
}

.hero-btn-buy {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 17.09px;
    color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    background-color: #D22827;
    border-radius: 21.24px;

    @media screen and (min-width: 768px) {
            margin-left: 30px;
        }

    @media screen and (min-width: 1440px) {
        width: 191px;
        height: 66px;
        font-size: 22px;
        margin-left: 50px;
    }
}

.hero-footnote {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1440px) {
            padding-left: 70px;
            padding-right: 70px;
        }
}

.hero-footnote-index {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.effect-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1024px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 70px;
        padding-right: 70px;
    }
}

.effect-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #d12a2a;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 34px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 46px;
    }
}

.effect-wave {
    @media screen and (min-width: 1024px) {
        height: 300px;
    }

    @media screen and (min-width: 1440px) {
        height: 400px;
    }
}

.effect-section-list {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;

    @media screen and (min-width: 1024px) {
        margin-top: 100px;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 170px;
        margin-bottom: 100px;
    }
}

.effect-section-item-img {
    width: 26px;
    height: 17px;
    margin-right: 10px;

    @media screen and (min-width: 1024px) {
        width: 36px;
        height: 23px;
    }
}

.effect-section-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 60px;
    }
}

.effect-section-item-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 25px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 28px;
    }
}

.effect-section-item-index {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    line-height: 12.12px;
    color: #000000;

    @media screen and (min-width: 768px) {
        font-size: 10px;
    }
}

.effect-section-footnote {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 12.12px;
    color: #000000;
    margin-bottom: 10px;

    @media screen and (min-width: 1440px) {
        font-size: 12px;
    }
}

.effect-section-second-footnote {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 12.12px;
    color: #000000;

    @media screen and (min-width: 1440px) {
        font-size: 12px;
        width: 1000px;
    }
}

.effect-section-footnote-index {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 6px;
    line-height: 12.12px;
    color: #000000;

    @media screen and (min-width: 1440px) {
        font-size: 10px;
    }
}

.use-section {
    background-image: linear-gradient(to top right,
        rgba(255, 91, 62, 1),
        rgba(13, 122, 248, 1));
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (min-width: 1024px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.use-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        font-size: 34px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 90px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 46px;
    }
}

.use-main-img {
    margin-bottom: 50px;

    @media screen and (min-width: 1024px) {
            margin-bottom: 90px;
        }
}

.simptoms-box {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        margin-left: 30px;
        margin-right: 30px;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 70px;
        margin-right: 70px;
    }
}

.use-box-img {

    @media screen and (min-width: 1024px) {
        width: 274px;
        height: 274px;
    }

    @media screen and (min-width: 1440px) {
        width: 356px;
        height: 356px;
    }
}

.use-first-text {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1024px) {
        font-size: 30px;
        margin-bottom: 90px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 40px;
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 120px;
    }
}

.use-second-text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #FFF;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1024px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 40px;
        padding-left: 70px;
        padding-right: 70px;
    }
}

.method-section {
    background-image: linear-gradient(to top right,
            rgba(255, 91, 62, 1),
            rgba(13, 122, 248, 1));
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1024px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 70px;
        padding-right: 70px;
    }
}

.method-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        font-size: 34px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 90px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 46px;
    }
}

.method-box {
    background-color: #FFF;
    opacity: 0.84;
    border-radius: 28px;
    padding: 20px;
}

.method-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 25px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 28px;
    }
}

.section-buy-box {
    padding-bottom: 50px;
    background-image: url(../images/buy_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1024px) {
        padding-bottom: 90px;
    }

    @media screen and (min-width: 1440px) {
        padding-bottom: 120px;
    }
}

.buy-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #D22827;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        text-align: center;
        font-size: 38px;
        margin-bottom: 50px;
        padding-top: 90px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 46px;
        margin-bottom: 0;
        padding-top: 120px;
    }
}

.buy-photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 375px) {
        margin-bottom: 25px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1440px) {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.buy-box {
    display: flex;
    justify-content: space-between;
}

.buy-one-twoo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;

    @media screen and (min-width: 768px) {
        margin-left: 150px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 0;
        margin-right: 15px;
        flex-direction: row;
        align-content: center;
    }
}

.buy-one-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 0px;
        margin-left: 70px;
        height: 70px;
    }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.buy-twoo-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 70px;
        height: 70px;
    }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
        margin-left: 100px;
    }
}

.buy-three-four-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;

    @media screen and (min-width: 768px) {
        margin-right: 150px;
    }

    @media screen and (min-width: 1024px) {
        margin-right: 0px;
        flex-direction: row;
    }

    @media screen and (min-width: 1440px) {
        margin-right: 0;
        margin-left: 110px;
    }
}

.buy-three-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 0px;
        margin-right: 70px;
        height: 70px;
    }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
        margin-right: 110px;
    }
}

.buy-four-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
        margin-right: 70px;
        height: 70px;
    }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.section-contacts {
    background-color: #005dba;
    padding-top: 60px;
    padding-left: 16px;
    padding-bottom: 60px;

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-right: 16px;
    }
}

.contacts-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacts-title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        font-size: 36px;
    }
}

.contacts-text {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 35px;
}

.contacts-phone-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.contacts-phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-phone-number {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}

.contacts-mail-box {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
        margin-left: 50px;
    }
}

.contacts-mail-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-mail {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}



